.Main-Container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(20, 10%);
}

.header {
  grid-row: 1/3;
  grid-column: 1/20;

  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(3, 33%);

  display: grid;
  border-bottom: 5px solid black;
  color: white;

  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

  padding-bottom: 40px;
  background: rgb(69, 73, 109);
  background: linear-gradient(
    0deg,
    rgba(57, 61, 92, 0.998) 0%,
    rgb(56, 60, 89) 100%
  );
}
html {
  margin: 0px;
}
body {
  margin: 0px;
}

a {
  margin: 40px;
}

h1 {
  grid-row: 1/3;
  grid-column: 1/3;
  margin: auto;
}

.git {
  grid-row: 3/3;
  grid-column: 1/1;

  text-decoration: black;

  background: black;
  border-radius: 999px;
  box-shadow: black 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 13px;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  word-break: break-word;
  border: 0;

  margin: auto;
}

.link {
  grid-row: 3/3;
  grid-column: 2/2;

  text-decoration: black;

  background: #2465b0;
  border-radius: 999px;
  box-shadow: black 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 13px;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  word-break: break-word;
  border: 0;

  margin: auto;
}

svg {
  filter: invert(1);
}

.text {
  grid-row: 3/10;
  grid-column: 2/14;

  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);

  font-weight: 900;
  font-size: 20px;
}

.profil {
  grid-row: 1/1;
  grid-column: 1/1;

  padding: 50px;
}
.utbilding {
  grid-row: 2/2;
  grid-column: 1/1;

  padding: 50px;
}
.kurser {
  grid-row: 1/1;
  grid-column: 2/2;

  padding: 50px;
}
.egnaProject {
  grid-row: 2/2;
  grid-column: 2/2;

  padding: 50px;
}
.text div {
}
.text p {
  font-size: larger;
  font-weight: 500;
}

.proggressDiv {
  grid-row: 3/10;
  grid-column: 14/20;

  width: 250px;
}

.indprogress {
  display: flex;

  flex-direction: row;
  text-decoration: black;

  border-radius: 10px;
  box-shadow: black 0 5px 15px -10px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 13px;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  word-break: break-word;
  border: 0;

  margin-left: 10px;
  margin-right: 10px;

  margin: 10px;

  min-height: 92px;
}

.file1 {
  margin: 10px;
  margin-top: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
}
.file2 {
  border-radius: 40px;
  background-color: #1da1f2;
  color: #1da1f2;
  background: #1da1f2;
  box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
}
.img {
  height: 60px;
  width: 60px;

  border-radius: 10px;
}

#Exempel {
  margin: 0px;
}
#svelte {
  color: black;
  background-color: white;
  border: 3px solid #ff3e00;
}
#react {
  color: black;
  background-color: white;
  border: 3px solid #76dffb;
}
#js {
  color: black;
  background-color: white;
  border: 3px solid #f8dc3d;
}
#TS {
  color: black;
  background-color: white;
  border: 3px solid #0079cb;
}
#NEXT {
  color: black;
  background-color: white;
  border: 3px solid black;
}
#nextimg {
  margin-top: 5px;
  height: 50px;
  width: 60px;
}
#html {
  color: black;
  background-color: white;
  border: 3px solid #ff5b1e;
}
#css {
  color: black;
  background-color: white;
  border: 3px solid #8acce9;
}

.infoDiv {
  grid-row: 1/3;
  grid-column: 9/11;

  display: flex;

  flex-direction: column;
}
